---
page_title: "Provider: Collibra Access Governance"
subcategory: ""
description: |-
    Provider used to initialize resources on Collibra Access Governance
---

# Collibra Access Governance Provider

Use the Collibra Access Governance provider to interact with the resources supported by [Collibra Access Governance](https://www.collibra.com/).
You must configure the provider with the proper credentials before you can use it.

To learn more about Collibra Access Governance, you can visit the Collibra documentation on [https://productresources.collibra.com/](https://productresources.collibra.com/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown }}

## Authorisation and Authentication
This provider requires a valid Collibra user to authenticate and interact with the platform.

### User Roles
In addition to having a valid user account, specific roles are necessary to perform certain actions with the provider:

* `Admin`: Required for managing **DataSources** and **Users**. This role allows for creating, reading, updating, and deleting these resources.
* `Access Manager, Access Creator, Integrator`: Required for managing **Grants**, **Masks**, **Filters**, and **Purposes**. These roles allow for creating, reading, updating, and deleting these resources.

Please consult the Collibra documentation for more information on user roles and permissions: [https://productresources.collibra.com/](https://productresources.collibra.com/)